a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
    gap: 20px;
}
.container {
    width: 1200px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
}

.header__ul {
    display: flex;
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 40px;
    height: 40px;
    border-radius: 5px 15px 15px 5px;
}

table {
    border: 1px solid black;
    border-spacing: 30px;
}
tr, th {
    border: 1px solid black; 
    text-align: center;
}
.left {
    text-align: left;
}
.outside {
    list-style-position: inside;
    text-transform: uppercase;
    line-height: 30px;
}
.list__color {
    font-size: 30px;
     text-shadow: -5px -4px 3px #999;
}
.elem {
    display: flex;
    gap: 30px;
}
.block_1{
    width: 200px;
    height: 140px;
    background-color: black;
    color: #999;
    padding: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}
.block_2{
    width: 230px;
    height: 140px;
    background-color: rgb(40, 223, 83);
    color: #779;
    padding: 5px;
    border: 1px solid black;
    box-sizing: border-box;

}
.block_3{
    width: 250px;
    height: 140px;
    background-color: rgb(202, 42, 42);
    color: blueviolet;
    padding: 5px;
    border: 1px solid black;
    box-sizing: border-box;

}
.block_4{
    width: 210px;
    height: 140px;
    background-color: rgb(56, 4, 4);
    color: greenyellow;
    padding: 5px;
    border: 1px solid black;
    box-sizing: border-box;

}
.block_5{
    width: 230px;
    height: 140px;
    background-color: rgb(68, 13, 231);
    color: orchid;
    padding: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}
.png {
    width: 40px;
    height: 40px;
}


